#artifacts
jira_ticket_helper.json
*.csv

#python 
__pycache__
*.pyc
*.pyo
*.pyd
.Python
build
develop-eggs
dist
downloads
eggs
.eggs
lib
lib64
parts
sdist
var
*.egg-info
.installed.cfg
*.egg
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
.pytest_cache
.coverage
.DS_Store
.vscode
.idea
*.log
.env
venv
ENV

#temp
TEMP